@import "tailwindcss";

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }

  
  .highlight {
    background-color: yellow;
  }
  
  input {
    width: 100%;
    box-sizing: border-box;
  }
  